body {
    margin: 0;
}
.container-grid {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
.main-content {
    padding: 20px; /* Para separar el contenido */
    max-width: 1200px; /* Limita el ancho */
    margin: auto; /* Centra la sección */
}

#inventario-tabla {
    margin: 20px auto; 
    width: 90%;
    padding: auto;
    border-collapse: collapse;
}