body {
    margin: 0;
}
.container-grid {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
.main-content {
    padding: 20px; 
    max-width: 1200px; 
    margin: auto;
}

.altura-maxima {
    max-height: 500px;
    max-width: 90%;
    position: relative;
    margin: auto;
    padding-bottom: 20px;
}

.table th {
    position: sticky;
    top: 0;
    z-index: 1;
}